<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
  <add name="DbCon" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ElectronicManagementDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="MyProject.Properties.Settings.ElectronicManagementDBConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ElectronicManagementDB;Integrated Security=True;Encrypt=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>


</configuration>